<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--Ucommerce section begins. Version:9.6.3.22094-->
  <!--Ucommerce section begins. Version:9.6.3.22094-->
  <!--Ucommerce section begins. Version:9.6.3.22094-->
  <connectionStrings>
    <add xdt:Locator="Condition(@name='Ucommerce')" xdt:Transform="Remove" />
  </connectionStrings>
  <!--Ucommerce section ends-->
  <!--Ucommerce section ends-->
  <!--Ucommerce section ends-->
</configuration>